@use "./colors.scss";

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.text-light-red {
	color: colors.$light-red;
}

.text-light-green {
	color: colors.$light-green;
}

.text-purple {
	color: colors.$purple;
}

.border-purple {
	border-color: colors.$purple !important;
}

.border-dark-grey {
	border-color: colors.$dark-grey !important;
}

.stats {
	width: 155px;
	border: 2px solid gray;
}
